node_modules/
.env
.env.*
.DS_Store
**/.DS_Store
Thumbs.db
venv/
.venv/
__pycache__/
*.pyc
uploads/*
!uploads/.gitkeep
my_model/keras_model.h5
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
